html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #fff;
}
​
#page-wrapper {
  width: 750px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  border-top: 30px solid #33a7ff;
}
​
h1 {
	margin-top: 0;
}
​
img {
  max-width: 100%;
}
​
#fileDisplayArea {
  margin-top: 2.5em;
  width: 100%;
}
​
/* text wrapping in pre block */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}